<div class="container">
    <div class="output-container">
      <span class="output-display">{{ result }}</span>
    </div>

    <div class="bottom-container">
      <div class="left-container">
        <div class="secondary-container">
          <button (click)="allClear()" class="secondary">AC</button>
          <button class="secondary">+/-</button>
          <button class="secondary">%</button>
        </div>
        <div class="number-container">
          <button (click)="readInput('7')" class="input-number">7</button>
          <button (click)="readInput('8')" class="input-number">8</button>
          <button (click)="readInput('9')" class="input-number">9</button>
          <button (click)="readInput('4')" class="input-number">4</button>
          <button (click)="readInput('5')" class="input-number">5</button>
          <button (click)="readInput('6')" class="input-number">6</button>
          <button (click)="readInput('1')" class="input-number">1</button>
          <button (click)="readInput('2')" class="input-number">2</button>
          <button (click)="readInput('3')" class="input-number">3</button>
          <button (click)="readInput('0')" class="input-number zero">0</button>
          <button (click)="readInput('.')" class="input-number">.</button>
        </div>
      </div>
      <div class="right-container">
          <button (click)="readInput('/')" class="accent-btn">/</button>
          <button (click)="readInput('x')" class="accent-btn">x</button>
          <button (click)="readInput('-')" class="accent-btn">-</button>
          <button (click)="readInput('+')" class="accent-btn">+</button>
          <button (click)="showResults()" class="accent-btn">=</button>
      </div>
    </div>
</div>

