<div class="container">
    <div class="output-container">
      <span class="output-display">{{ result }}</span>
    </div>

    <div class="bottom-container">
      <div class="left-container">
        <div class="secondary-container">
          <button (click)="allClear()" class="secondary-btn">AC</button>
          <button class="secondary-btn">+/-</button>
          <button class="secondary-btn">%</button>
        </div>
        <div class="number-container">
          <button (click)="readInput('7')" class="number-btn">7</button>
          <button (click)="readInput('8')" class="number-btn">8</button>
          <button (click)="readInput('9')" class="number-btn">9</button>
          <button (click)="readInput('4')" class="number-btn">4</button>
          <button (click)="readInput('5')" class="number-btn">5</button>
          <button (click)="readInput('6')" class="number-btn">6</button>
          <button (click)="readInput('1')" class="number-btn">1</button>
          <button (click)="readInput('2')" class="number-btn">2</button>
          <button (click)="readInput('3')" class="number-btn">3</button>
          <button (click)="readInput('0')" class="number-btn zero">0</button>
          <button (click)="readInput('.')" class="number-btn">.</button>
        </div>
      </div>
      <div class="right-container">
          <button (click)="readInput('/')" class="accent-btn">/</button>
          <button (click)="readInput('x')" class="accent-btn">x</button>
          <button (click)="readInput('-')" class="accent-btn">-</button>
          <button (click)="readInput('+')" class="accent-btn">+</button>
          <button (click)="showResults()" class="accent-btn">=</button>
      </div>
    </div>
</div>

